/* for all buttons */
a,
button {
    transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        background-color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95), stroke 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

button {
    background-color: $clr1;
    color: $clr2;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.22em 0.88em;
}

.btn {
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    padding: 2px $spacing-m;
    align-items: center;
    justify-content: center;
    &.primary {
        background-color: $clr1;
        color: $clr2;
    }

    &.secondary {
        background-color: $clr2;
        color: $clr1;
    }

    &.circled {
        border-radius: 33em;
    }

    &.rounded {
        border-radius: $spacing-xxs;
    }

    &.btn-template {
        background-color: transparent;
        color: $clr1;
        border-radius: 6px;
        padding: px-to-em(6px) px-to-em(32px);
        transition: color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
            background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:first-of-type {
            border: 1px solid $clr1;
            margin-bottom: $spacing-s;
        }
        &:nth-of-type(odd):hover {
            background-color: $clr1;
            color: $clr2;
        }
        &:nth-of-type(even):hover {
        }
    }

    @media (min-width: $break-narrow) {
        & {
            font-size: px-to-rem(20px);
            padding: 0.66em 1.8em;
        }
    }

    @media (min-width: $break-wide) {
        & {
            padding: 0.8em 3em;
        }
    }
}
