/* for all buttons */
a,
button {
    transition: color 0.3s, background 0.3s, stroke 0.3s;
}

button {
    background-color: $clr1;
    color: $clr2;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.22em 0.88em;
    font-weight: 400;
}

.btn {
    padding: $spacing-xxs $spacing-xs;
    font-weight: 600;
    font-size: 1rem;

    &.primary {
        background-color: $clr1;
        color: $clr2;
    }

    &.secondary {
        background-color: $clr2;
        color: $clr1;
    }

    &.circled {
        border-radius: 33em;
    }

    &.rounded {
        border-radius: $spacing-xxs;
    }

    &.btn-template {
        background-color: transparent;
        color: $clr1;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 0;
            margin: auto;
            opacity: 0;
            // transform: translateY(10px);
            height: 1px;
            background-color: $clr1;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:nth-of-type(even)::after {
            bottom: 20%;
        }
        &:nth-of-type(odd)::after {
            top: 20%;
        }
        &:nth-of-type(even):hover::after {
            opacity: 1;
            width: 100px;
        }
        &:nth-of-type(odd):hover::after {
            opacity: 1;
            width: 100px;
        }
    }

    @media (min-width: $break-narrow) {
        & {
            font-size: px-to-rem(20px);
            padding: 0.66em 1.8em;
        }
    }

    @media (min-width: $break-wide) {
        & {
            padding: 0.8em 3em;
        }
    }
}
