.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    place-content: baseline;
    // min-height: 100vh;
    > * {
        grid-column: 2;
    }
    > *.full {
        grid-column: 1 / -1;
    }
    .side-start {
        grid-column: 1/-2;
    }

    .side-end {
        grid-column: -1/2;
    }

    @include for-narrow-layout {
        @include layoutGTC($padded-break-narrow);
    }

    @include for-wide-layout {
        @include layoutGTC($padded-break-wide);
    }
}

.main-text {
    margin-bottom: px-to-rem(30px);
}

.editor-layout {
    max-height: calc(100vh - $app-header-height + $toolbar-height);
    display: flex;
    overflow: hidden;
    .editor-preview {
        flex: 1;
    }
    .right-sidebar {
        left: 0;
        width: $right-sidebar-width;
        margin-right: -$right-sidebar-width;
        height: 100%;
        justify-self: flex-end;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        background-color: $clr1;
        z-index: 9999;
        overflow: hidden;
        // width: 300px;
        &.open {
            margin: 0;
            // left: 300px;
            transform: translateX(0%);
        }
    }
    > *.full {
    }
    .side-start {
        grid-column: 1/-2;
    }

    .side-end {
        grid-column: -1/2;
    }

    // @include for-narrow-layout {
    //     @include layoutGTC($padded-break-narrow);
    // }

    // @include for-wide-layout {
    //     @include layoutGTC($padded-break-wide);
    // }
}
