.create-site {
    & .intro {
        background-color: $clr1;
        position: sticky;
        top: $header-height;
        border-bottom: 1px solid rgba($clr18, .25);
        z-index: 1;

        & .wrapper {
            padding: 1.25rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $clr1;
        }
    }

    & .templates {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem 3rem;
        grid-auto-flow: dense;
        padding: 3rem 0 6rem;


        & article.template {
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            & .img-container {
                transition: 0.5s box-shadow;
                position: relative;
                box-shadow: 0px 0px 28px -10px rgba($clr2, 0.4);
                border-radius: .5rem;
                overflow: hidden;

                & .actions {
                    text-align: center;
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    max-width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 0.3s;

                    & .btn {
                        font-weight: 400 !important;
                    }
                }


                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($clr2 , 75%);
                    opacity: 0;
                    transition: opacity 0.2s, backdrop-filter 0.2s 0.05s;
                    min-width: 100%;
                    pointer-events: none;


                }

                &:hover::after {
                    opacity: 1;
                    pointer-events: all;
                    backdrop-filter: blur(3px);
                }

                &:hover {
                    box-shadow: 0px 0px 0px 0px black;
                }

                &:hover .actions {
                    transition: opacity 0.4s 0.2s;
                    opacity: 1;
                }
            }

            & .text-container {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }
}