.add-side-bar {
    position: fixed;
    top: $app-header-height + $toolbar-height;
    left: 0;
    // padding: $spacing-m;
    background-color: $clr1;
    min-height: calc(100vh - $app-header-height + $toolbar-height);
    min-width: 35%;
    box-shadow: 20px 0px 30px -20px rgba($clr2, 20%);
    display: grid;
    grid-template-columns: auto 1fr;
    z-index: 9999;
    .modules {
        border-right: 1px solid $editor-lightgray;
        .modules-list {
            padding: $spacing-s 0;
            margin-bottom: $spacing-s;
            border-bottom: 1px solid $editor-lightgray;
            & > * {
                // background-color: #5555ee;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.05rem;
                font-size: px-to-rem(12px);
                padding: $spacing-xs $spacing-m;
                transition: background-color 0.3s, color 0.3s;
                &:hover:not(.active) {
                    color: $editor-active-clr;
                    background-color: $editor-active-bg;
                }
                &.active {
                    color: $editor-active-clr;
                    background-color: $editor-active-bg;
                }
            }
        }
        // max-width: ;
    }
}
