.app-header {
    background-color: $clr1;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    margin: auto;
    z-index: 9999;
    border-bottom: 1px solid $editor-lightgray;
    padding: 0 $spacing-m;
    position: sticky;
    top: 0;
    min-height: $app-header-height;
    &.dark-header {
        background-color: $clr11;
        & > *,
        & a {
            color: $clr1 !important;
        }
    }
    .logo-container {
        border-inline-end: 1px solid $editor-lightgray;
        padding-inline-end: $spacing-m;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .logo {
            cursor: pointer;
            font-size: px-to-rem(20px);
            font-weight: 600;
            letter-spacing: -0.02rem;
        }
    }
    .main-nav,
    .nav-actions {
        position: static;
        transform: unset;
        background-color: unset;
        min-height: unset;
        min-width: unset;
        padding: 0;
        & ul {
            display: flex;
            flex-direction: row;
            gap: unset;
        }
        & .nav-link {
            height: $app-header-height;
            line-height: $app-header-height;
            padding: 0 1em;
            font-weight: 400;
            transition: 0.4s color, background-color 0.4s;
            &:hover {
                color: $clr5;
            }
        }
    }

    .publish-link {
        display: flex;
        align-items: center;
        justify-content: center;
        .publish-url-prefix {
            font-size: px-to-rem(12px);
            padding: 2px $spacing-xxs;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: baseline;
            background-color: $editor-lightgray;
            justify-content: center;
            border-radius: 0.25rem;
            color: rgba($clr2, 75%);
            .btn-publish {
                color: lighten($editor-active-clr, 1%);
                background: transparent;
                padding: 0;
                font-weight: 500;
                text-transform: uppercase;
                font-size: px-to-rem(10px);
                border-radius: 0.1rem;
                padding-left: 0.5rem;
            }
            input {
                color: rgba($clr2, 50%);
                padding: 0;
                background-color: transparent;
            }
        }
    }

    .nav-actions {
        .nav-link {
            font-weight: 400;
            margin-inline-start: $spacing-s;
            border-radius: 0.25rem;
            padding: $spacing-xxs $spacing-xs;
            transition: color 0.3s, background-color 0.2s;
            &.publish {
                background-color: $clr5;
                color: $clr1;
                &:hover {
                    background-color: $clr5;
                }
            }
            &.preview {
                color: $clr15;
                cursor: pointer;
                background-color: transparent;
                position: relative;
                padding: $spacing-xxs $spacing-xs;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    border-radius: $spacing-xxs;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transform: scale(0.5);
                    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
                }
                &:hover {
                    &::before {
                        transform: scale(1);
                        color: lighten($clr2, 10%);
                        background-color: $editor-lightgray;
                    }
                }
            }
        }
    }
    .main-nav {
        .nav-link {
            margin-inline-start: 1em;
        }
    }
}
