.app-header {
    background-color: $clr1;
    position: sticky;
    top: 0;
    z-index: 99;
    &.auth {
        .logo {
            position: relative;
            top: $spacing-s;
            font-size: px-to-rem(38px);
        }
    }
    &.dark {
        background-color: $clr2;
        & *,
        & a {
            color: $clr1 !important;
        }
    }
    label,
    input {
        display: inline-flex;
        align-items: center;
    }
    .layout-wrapper {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto auto;
        margin: auto;
        z-index: 9999;
        border-bottom: 1px solid $editor-lightgray;
        padding: 0 $spacing-m;
        min-height: $app-header-height;
    }
    &.main-layout {
        .layout-wrapper {
            min-height: $app-header-height + 1px;
            padding: 0;
            border-bottom: none;
        }
        .logo-container {
            font-size: px-to-rem(24px);
            border: none;
        }
    }
    .logo-container {
        border-inline-end: 1px solid $editor-lightgray;
        padding-inline-end: $spacing-m;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: px-to-rem(20px);
        .logo {
            cursor: pointer;
            font-weight: 600;
            letter-spacing: -0.02rem;
        }
    }
    .user-area {
        margin: 0 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        place-items: center start;
        .avatar {
            cursor: default;
            width: 36px;
            height: 36px;
            line-height: 36px;
            font-size: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 55px;
            overflow: hidden;
            color: white;
            text-transform: uppercase;
            background-color: $clr19;
            box-shadow: 0px 2px 10px -4px rgba($clr2, 10%), 0px 0px 10px rgba($clr9, 40%);
        }
        .user-info {
            background-color: darken($clr1, 5%);
            padding: 4px 8px;
            border-radius: 3px;
            // gap: 3px;
            // font-size: 14px;
            line-height: 1.125;
            cursor: default;
            font-weight: 600;
            display: grid;
            place-items: center start;

            margin-inline-start: 0.5em;
            .user-fullname {
            }
            .user-links {
                cursor: pointer;
                & > * {
                    font-size: px-to-rem(12.414px);
                    transition: color 0.18s;
                    color: $clr9;
                    &:hover {
                        color: $editor-active-clr;
                    }
                }
                .btn-dashboard {
                    color: $clr20;
                    &:hover {
                        color: $editor-active-clr;
                    }
                }
            }
            .btn-logout {
                margin-inline-start: 0.4em;
            }
        }
    }
    .main-nav,
    .nav-actions {
        position: static;
        transform: unset;
        background-color: unset;
        min-height: unset;
        min-width: unset;
        padding: 0;
        & ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            gap: unset;
            > li {
                height: 100%;
            }
        }
        & .nav-link {
            height: $app-header-height;
            line-height: $app-header-height;
            padding: 0 1em;
            font-weight: 400;
            transition: 0.4s color, background-color 0.4s;

            &:hover {
                color: $editor-active-clr;
            }
        }
    }

    .publish-link {
        display: flex;
        align-items: center;
        justify-content: center;
        .publish-url-prefix {
            padding: 2px $spacing-s;
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 2px;
            background-color: darken($clr1, 5%);
            align-items: center;
            justify-content: center;
            border-radius: 0.25em;
            color: rgba($clr2, 75%);
            .btn-publish {
                cursor: pointer;
                color: lighten($editor-active-clr, 1%);
                background: transparent;
                padding: 0;
                font-weight: 500;
                text-transform: uppercase;
                font-size: px-to-rem(12px);
                border-radius: 0.1em;
                padding-left: 0.5em;
            }
            input {
                color: rgba($clr2, 50%);
                padding: 0;
                background-color: transparent;
                transition: all 0.3s;
                &:focus {
                    color: $editor-active-clr;
                }
            }
        }
    }

    .nav-actions {
        .nav-link {
            font-weight: 400;
            margin-inline-start: $spacing-s;
            border-radius: 0.25rem;
            padding: $spacing-xxs $spacing-xs;
            transition: color 0.3s, background-color 0.2s;

            &.publish {
                background-color: $editor-active-clr;
                color: $clr1;
                &:hover {
                    background-color: darken($editor-active-clr, 10%);
                }
            }
            &.preview {
                cursor: pointer;
                background-color: transparent;
                position: relative;
                padding: $spacing-xxs $spacing-xs;
                color: $editor-active-clr;
                &:hover {
                    color: $editor-active-clr;
                }

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    border-radius: $spacing-xxs;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transform: scale(0.5);
                    transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1);
                }
                &:hover {
                    &::before {
                        transform: scale(1);
                        color: lighten($clr2, 10%);
                        background-color: darken($clr1, 15%);
                    }
                }
            }
        }
    }
    .main-nav {
        height: 100%;
        display: flex;
        align-items: stretch;
        .nav-link {
            margin-inline-start: 1em;
        }
    }
}
