.editor {
    border-radius: $spacing-s;
    padding: $spacing-s;
    max-width: 100%;
    margin-top: $spacing-l / 2;
    min-height: calc(100vh - $app-header-height - $toolbar-height - $spacing-l);
    max-height: calc(100vh - $app-header-height - $toolbar-height);
    background-color: lighten($editor-lightgray, 5%);
}

.clicked {
    position: relative;

    outline: solid 2px $editor-outline !important;
}
.video-disabled {
    pointer-events: none;
}
.selected-actions {
    position: absolute;
    z-index: 1;
    color: white;
    // background: rgba(7, 57, 110, 0.4);
    background: $editor-outline;
    color: $editor-active-bg;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    cursor: pointer;
}
.hover {
    // background: rgba(192, 250, 241, 255);
    background: rgba(7, 57, 110, 0.2);
    outline: solid 2px $editor-outline;
}
