.editor-preview {
    $editor-max-height: calc(100vh - $app-header-height - $toolbar-height - 1px);
    max-height: $editor-max-height;
    padding: $spacing-m $spacing-l;
    background-color: darken($editor-hover-bg, 10%);
    box-shadow: inset 0px 0px 20px -10px rgba($editor-outline, 50%);
    overflow-y: auto;
    overflow-x: hidden;

    .wrapper {
        // container-type: inline-size;
        margin: auto;
        box-shadow: 0px -5px 32px 24px rgba($clr7, 0.125);
        border-radius: $spacing-s;
        overflow: hidden;
        position: relative;
    }
    &::-webkit-scrollbar-thumb {
        border: $spacing-xs solid transparent;
        border-radius: 100px;
        background-color: $clr9;
        background-clip: content-box;
    }
    &::-webkit-scrollbar {
        width: $scroll-bar-width;
    }
    &::-webkit-scrollbar-track {
        background-color: $clr12;
    }
}

.editor-resizer {
    $scroll-bar-width: $spacing-m;
    z-index: 3;
    position: fixed;
    top: 50%;
    height: 3rem;
    width: 10px;
    border-radius: 10em;
    cursor: e-resize;
    background-color: $clr9;
    &.left {
        transform: translate(-100%, 100%);
        left: 35px;
    }
    &.right {
        transform: translate(100%, 100%);
        right: calc(35px + $scroll-bar-width);
    }
}
