.TabsRoot {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
    //   box-shadow: 0 2px 10px var(--blackA4);
}

.TabsList {
    flex-shrink: 0;
    display: flex;
    //   border-bottom: 1px solid var(--mauve6);
}

.TabsTrigger {
    cursor: pointer;
    font-family: inherit;
    background-color: $clr1;
    color: #595d70;
    padding: 0 $spacing-s;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    //   color: var(--mauve11);
    user-select: none;
    text-transform: capitalize;
    box-shadow: inset 0 -1px 0 0 $editor-lightgray;
}
.TabsTrigger:first-child {
    border-top-left-radius: 6px;
}
.TabsTrigger:last-child {
    border-top-right-radius: 6px;
}
.TabsTrigger:hover {
    //   color: var(--violet11);
}
.TabsTrigger[data-state='active'] {
    //   color: var(--violet11);
    color: $editor-active-clr;
    box-shadow: inset 0 -2px 0 0 currentColor, 0 1px 0 0 currentColor;
}
.TabsTrigger:focus {
    // position: relative;
    // box-shadow: 0 0 0 2px black;
}

.TabsContent {
    flex-grow: 1;
    // padding: $spacing-s;
    background-color: $clr1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
}
.TabsContent:focus {
    // box-shadow: 0 0 0 2px black;
}

.tabs-inner-content {
    // COMMON CLASS
    button.btn-edit {
        background: #e4e8f1;
        padding: 0.4em 0.6em;
        border-radius: 0.3em;
    }
    input.input-edit {
        margin-bottom: 0.2em;
        width: 95.2%;
        box-shadow: 0 1px 0 0 black;
        border-radius: 0px;
        background: none;
    }

    margin-top: 1em;
    .adjust-inputs {
        align-items: center;
        border-bottom: 1px solid $editor-lightgray;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0.75em;
        grid-auto-flow: dense;
        padding: 1em $spacing-m;
        &.full {
            grid-template-columns: 1fr;
            > * {
                width: 100%;
            }
        }
        &:first-child {
            padding: 0 $spacing-m 1em;
        }
        > *:nth-of-type(2n) {
            margin-inline-start: $spacing-s;
            justify-self: end;
        }
        > * {
            font-size: px-to-rem(12.44px);

            label {
                display: inline-flex;
                align-items: center;
                text-transform: capitalize;
                padding-inline-end: $spacing-s;
            }
            .input-wrapper {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: auto 1fr;
                align-items: center;
                position: relative;
                width: 100%;
                background-color: $editor-hover-bg;
                border-radius: $spacing-xxs;
                padding: $spacing-xxs $spacing-xxs;
                input {
                    padding: 0;
                }
                .unit {
                    cursor: pointer;
                    z-index: 2;
                    background-color: $editor-lightgray;
                    color: $clr7;
                    border-radius: $spacing-xxs;
                    // height: min-content;
                    transition: background-color 0.3s, color 0.3s;
                    &:hover {
                        background-color: $editor-active-clr;
                        color: $clr1;
                    }
                    &.active {
                    }
                }
            }
        }
    }

    .edit-img {
        .wrapper {
            > * {
                margin-bottom: 1em;
            }
            .link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                button {
                    background: #e4e8f1;
                    padding: 0.4em 0.6em;
                    border-radius: 0.3em;
                }
            }
            label {
                color: $clr1;
                background: $editor-active-clr;
                padding: 0.4em 0.6em;
                border-radius: 0.3em;
                cursor: pointer;
                background: #e4e8f1;
                color: black;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                border: 1px solid black;
                border-radius: 10px;
            }
            .file-input {
                all: unset;
                // visibility: hidden;
                display: none;
            }
        }
    }

    .edit-form {
        .heading {
            font-size: 1.1rem;
            margin-bottom: 1em;
        }
        .input-option {
            margin-bottom: 0.75em;
            display: flex;
            justify-content: space-between;
            gap: 1em;

            .btn {
                cursor: pointer;
                padding: 0.1em 0.1em;
                background: transparent;
                border-radius: 5px;
            }
        }
    }

    .edit-map {
        label {
            display: inline;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        input {
        }
        .btns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            align-items: center;
            align-content: center;

            button {
                border-radius: 5px;
                background: #e4e8f1;
                padding: 0.2rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .markers {
            h6 {
                font-weight: 400;
                margin-bottom: 1em;
            }
            .marker {
                gap: 1rem;
                display: flex;
                align-items: center;
                margin-bottom: 0.5em;
                button {
                    padding: 0.4em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    background: #f4f5f8;
                    border-radius: 5px;
                }
            }
        }
    }

    .edit-div {
        .wrapper {
            > * {
                margin-bottom: 1em;
            }
            .link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                button {
                    background: #e4e8f1;
                    padding: 0.4em 0.6em;
                    border-radius: 0.3em;
                }
            }
            label {
                color: $clr1;
                background: $editor-active-clr;
                padding: 0.4em 0.6em;
                border-radius: 0.3em;
                cursor: pointer;
                background: #e4e8f1;
                color: black;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                border: 1px solid black;
                border-radius: 10px;
            }
            .file-input {
                all: unset;
                // visibility: hidden;
                display: none;
            }
        }
        input {
            width: 95.2%;
            box-shadow: 0 1px 0 0 black;
            border-radius: 0px;
            background: none;
        }
    }

    .edit-video {
        .wrapper {
            > * {
                margin-bottom: 1em;
            }

            .link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                button {
                    background: #e4e8f1;
                    padding: 0.4em 0.6em;
                    border-radius: 0.3em;
                }
            }
            label {
                color: $clr1;
                background: $editor-active-clr;
                padding: 0.4em 0.6em;
                border-radius: 0.3em;
                cursor: pointer;
                background: #e4e8f1;
                color: black;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                border: 1px solid black;
                border-radius: 10px;
            }
            .file-input {
                all: unset;
                // visibility: hidden;
                display: none;
            }
        }
    }

    .edit-anchor {
        .or {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            margin-bottom: 0.8em;
            margin-top: 0.5em;
        }
        .mini-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            button {
                background: #e4e8f1;
                padding: 0.4em 0.6em;
                border-radius: 0.3em;
            }
        }
        .heading {
            font-size: 1.1rem;
            margin-bottom: 0.5em;
        }
        input {
            margin-bottom: 0.2em;
            width: 95.2%;
            box-shadow: 0 1px 0 0 black;
            border-radius: 0px;
            background: none;
        }

        .select-wrapper {
            button {
                background: #e4e8f1;
                padding: 0.4em 0.6em;
                border-radius: 0.3em;
                color: black;
                &:focus {
                    color: black;
                }
            }
        }
    }

    .slider-form {
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-weight: bold;
                padding-inline-start: 0.4em;
                justify-self: end;
            }
        }
        .slider-input {
            width: 100%;
        }
    }
}
