.edit-modules {
    // font-size: px-to-rem(13px);
    .options-accordion {
        font-size: px-to-rem(12px);
        .option-header {
            cursor: pointer;
            display: grid;
            grid-template-columns: auto 1fr;
            justify-items: end;
            align-items: center;
            padding: $spacing-xxs $spacing-m;
            border-bottom: 1px solid $editor-lightgray;
            background-color: darken($editor-bg, 2%);
            .collapse-icon {
                font-size: 18px;
            }
        }
        .option-body {
            display: grid;
            gap: $spacing-s;
            grid-template-columns: repeat(2, 1fr);
            padding: $spacing-s $spacing-m;
            .param-box {
                font-size: px-to-rem(11px);
                display: grid;
                grid-template-columns: auto 1fr;
                place-items: center;
                label {
                    text-transform: capitalize;
                    padding-inline-end: $spacing-xs;
                }
            }
            &.open {
            }
        }
    }
}
