.empty-right-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    font-size: 0.8rem;
    padding: 1rem;

    img {
        width: 35%;
        margin-bottom: 1rem;
    }
}
