.left-sidebar {
    $modules-menu-width: 180px;
    min-height: calc(100vh - $app-header-height + $toolbar-height);
    max-height: calc(100vh - $app-header-height + $toolbar-height);
    background-color: $clr1;
    z-index: 9999;
    position: fixed;
    left: 0;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    overflow: visible;
    display: flex;
    transform: translateX(-100%);
    min-width: $modules-menu-width;
    // .menu-items {
    //     overflow: visible;
    //     // .modules {
    //     //     min-height: calc(100vh - $app-header-height + $toolbar-height);
    //     //     width: $modules-menu-width;
    //     //     z-index: 2;
    //     //     background-color: $clr1;
    //     // }
    // }
    &.open {
        transform: translateX(0%);
    }
    .module-menu {
        z-index: 2;
        width: 100%;
        background-color: $clr1;
    }
    .module-content {
        $modules-content-width: 300px;
        z-index: -1;
        position: absolute;
        width: $modules-content-width;
        top: 0;
        left: -($modules-content-width - $modules-menu-width);
        background-color: $clr1;
        min-height: 100%;
        transition: left 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &.open {
            left: $modules-menu-width;
        }
    }
}

// .side-bar {
//     overflow: hidden;
//     position: relative;
//     width: 100vw;
//     .left-sidebar {
//         min-height: calc(100vh - $app-header-height + $toolbar-height);
//         max-height: calc(100vh - $app-header-height + $toolbar-height);
//         background-color: $clr1;
//         z-index: 9999;
//         transition: transform 0.3s;
//         overflow: hidden;
//         top: $app-header-height + $toolbar-height;
//         & {
//             $modules-menu-width: 180px;
//             position: fixed;
//             transform: translateX(-100%);
//             left: 0;
//             overflow: visible;
//             .modules {
//                 min-height: calc(100vh - $app-header-height + $toolbar-height);
//                 width: $modules-menu-width;
//                 z-index: 2;
//                 background-color: $clr1;
//             }
//             & .module-content {
//                 $modules-content-width: 300px;
//                 z-index: -1;
//                 position: absolute;
//                 transform: translateX(-100%);
//                 width: $modules-content-width;
//                 top: 0;
//                 left: $modules-menu-width;
//                 background-color: $clr1;
//                 height: 100%;
//                 transition: transform 0.3s;
//                 &.open {
//                     transform: translateX(0%);
//                 }
//             }
//         }
//     }

//     & .right-sidebar {
//         display: grid;
//         position: fixed;
//         min-width: px-to-rem(280px);
//         max-width: px-to-rem(280px);
//         grid-template-columns: 1fr;
//         transform: translateX(100%);
//         right: 0;
//     }
//     &.open.edit .right-sidebar {
//         transform: translateX(0%);
//     }
//     &.open.add .left-sidebar {
//         transform: translateX(0%);
//     }
// }
.module-menu {
    z-index: 2;
    // box-shadow: 10px 0px 10px -6px lighten($clr1, 55%);
    border-right: 1px solid $editor-lightgray;
    .menu-items {
        padding: $spacing-s 0;
        // margin-bottom: $spacing-s;
        border-bottom: 1px solid $editor-lightgray;
        & > * {
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.05rem;
            font-size: px-to-rem(12px);
            padding: $spacing-xs $spacing-m;
            transition: background-color 0.3s, color 0.3s;
            &:hover:not(.active) {
                background-color: $editor-hover-bg;
            }
            &.active {
                color: $editor-active-clr;
                background-color: $editor-active-bg;
            }
        }
    }
    // max-width: ;
}
.module-content {
    box-shadow: 20px 0px 30px -20px rgba($clr2, 20%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    .module-header {
        padding: $spacing-xxs $spacing-m;
        align-items: center;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto 1fr;
        align-items: center;
        border-bottom: 1px solid $editor-lightgray;
        .module-name {
            font-weight: 600;
            text-transform: uppercase;
        }
        .actions {
            padding-inline-start: $spacing-m;
            place-self: end;
            & > * {
                transform: translate(50%);
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.2s;
                display: flex;
                justify-content: center;
                align-self: center;
                margin: $spacing-xxs $spacing-xs $spacing-xxs 0;
                padding: $spacing-xxs $spacing-xs;
                border-radius: $spacing-xxs;
                &:hover {
                    background-color: $editor-lightgray;
                }
                &.active {
                    color: $editor-active-clr;
                    background-color: $editor-active-bg;
                }
            }
        }
    }
    .module-options {
        padding: $spacing-s $spacing-m;
    }
}
