.tools-bar {
    min-height: $toolbar-height;
    max-height: $toolbar-height;
    background-color: $clr1;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: auto;
    border-bottom: 1px solid $editor-lightgray;
    padding-inline-start: $spacing-m - $spacing-s;
    position: sticky;
    top: $app-header-height + 1px;
    z-index: 99;
    align-items: center;
    > * {
        height: 100%;
    }
    .left-side {
        justify-self: start;
    }

    .tabs {
        display: grid;
        grid-auto-flow: column;
        justify-self: end;
        height: 100%;
        .curr-width {
            height: 100%;
            input {
                height: 100%;
                font-size: 14px;
                max-width: 70px;
            }
        }
    }
}
.tab {
    color: $clr15;
    cursor: pointer;
    font-size: px-to-rem(20px);
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0 $spacing-s;
    background-color: transparent;
    position: relative;
    transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: $spacing-xxs;
        width: 30px;
        height: 30px;

        transform: scale(0.15);
        transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    }
    &:hover {
        transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
        &::before {
            transform: scale(1);
            color: lighten($clr2, 10%);
            background-color: $editor-lightgray;
        }
    }
    &.trash {
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: transparent;
    }
    &.trash:hover {
        background-color: transparent;
        color: $error-red;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        &::before {
            background-color: $error-red-light;
        }
    }
    &.active {
        color: $editor-active-clr;
        &::before {
            transform: scale(1);
            background-color: $editor-active-bg;
        }
    }
    > svg {
        z-index: 2;
    }
}
