.tools-bar {
    min-height: $toolbar-height;
    max-height: $toolbar-height;
    background-color: $clr1;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: auto;
    border-bottom: 1px solid $editor-lightgray;
    padding-inline-start: $spacing-m - $spacing-s;
    position: sticky;
    top: $app-header-height + 1px;
    z-index: 99999;
    .tools {
        display: grid;
        grid-auto-flow: column;

        &.tools-views {
            justify-self: center;
            .responsive-btns {
                // justify-self: center;
            }
        }
    }
}
.tool {
    // @include tooltip(5px, bottom, rgba(0, 0, 0, 0.8));
    color: $clr15;
    cursor: pointer;
    font-size: px-to-rem(20px);
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0 $spacing-s;
    background-color: transparent;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: $spacing-xxs;
        width: 30px;
        height: 30px;
        z-index: -1;
        transform: scale(0.25);
        transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    }
    &:hover {
        &::before {
            transform: scale(1);
            color: lighten($clr2, 10%);
            background-color: $editor-lightgray;
        }
    }
    transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
    &.active {
        color: $editor-active-clr;
        &::before {
            transform: scale(1);
            background-color: $editor-active-bg;
        }
    }
}
