.tools-bar {
    min-height: $toolbar-height;
    max-height: $toolbar-height;
    background-color: $clr1;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: auto;
    border-bottom: 1px solid $editor-lightgray;
    padding-inline-start: $spacing-m - $spacing-s;
    position: sticky;
    top: $app-header-height;
    z-index: 9999;
    .tools {
        .tool {
            cursor: pointer;
            font-size: 1.5rem;
            transition: background-color 0.2s;
            display: flex;
            justify-content: center;
            align-self: center;
            margin: $spacing-xxs $spacing-xs $spacing-xxs 0;
            padding: $spacing-xxs $spacing-xs;
            border-radius: $spacing-xxs;
            &:hover {
                background-color: $editor-lightgray;
            }
            &.active {
                color: $editor-active-clr;
                background-color: $editor-active-bg;
            }
        }
    }
}
