.site-owner-link {
    background-color: #fbfcfc;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: rgb(17, 109, 255);

    .btn-dashboard {
        background: #004cc4;
        transition: background-color 0.5s, color 0.5s;
        padding: 0.667em 1.5em;
        border-bottom: 1px solid rgba(218, 218, 230, 0.918);
        color: #fbfcfc;
        font-weight: 600;
    }
}
