.compose-mail {
    position: relative;
    .weight-700 {
        font-weight: 700;
    }

    .close-btn-wrapper {
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
        // padding: 2rem;
    }
    width: 50%;
    padding: 2rem;
    background-color: #fbfcfc;
    border-radius: 7px;
    outline: 1px solid rgb(231, 231, 231);
    box-shadow: 0px 0px 1000px 2px rgb(0 0 0 / 20%);

    .to {
        padding: 0.8rem 0;
        display: grid;
        grid-template-columns: 50px 1fr;
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    .title {
        padding: 0.8rem 0;
        display: grid;
        grid-template-columns: 50px 1fr;

        border-bottom: 1px solid rgb(231, 231, 231);
    }
    input {
        padding: 0rem;
        background: transparent;
    }
    textarea {
        width: 100%;
        border: none;
        background-color: transparent;
    }
    textarea:focus {
        border: none;
        outline: none;
    }
    .mail-container {
        padding: 0.8rem 0;
    }
    .actions {
        display: flex;
        justify-content: space-between;
        .send {
            align-self: flex-end;

            button {
                cursor: pointer;
                padding: 2px 8px;
                border-radius: 3px;
                color: #fbfcfc;
                box-shadow: inset 0px 0px 0px 2px #2b7dff;
                background-color: #2b7dff;
                transition: background-color 0.45s cubic-bezier(0.075, 0.82, 0.165, 1),
                    color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            button:hover {
                color: #2b7dff;
                background-color: #fbfcfc;
                box-shadow: inset 0px 0px 0px 1px #2b7dff;
            }
        }
    }
}
