.inside-accordion {
    .header {
        font-size: 0.8125rem;
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: end;
        align-items: center;
        padding: 0.296rem 1.5rem;
        border-bottom: 1px solid rgba(226, 227, 234, 0.9176470588);
        background-color: #f4f4f4;
        width: 100%;
        font-weight: 400;

        button {
            background: transparent;
            color: #4570fc;
        }
    }
    .expanded-content {
        padding: 0.667rem 1.5rem;
    }
    .hidden {
        display: none;
    }
}

.inputs {
    .option-body {
        display: grid;
        gap: 0.667rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .hidden {
        display: none;
    }
}
