// for type scale
$minViewportSize: 320;
$maxViewportSize: 750;

body {
    font-family: $font-family !important;
    font-size: $base-font-size;
    line-height: $base-font-ratio;
    color: $clr2;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: “liga” on;

    & .logo {
        font-family: $font-family-display;
        letter-spacing: -0.1rem;
    }
}

// text helpers

.text-bold {
    font-weight: 700;
}

.text-xbold {
    font-weight: 800;
}

.text-muted {
    color: $clr18;
}

/* Headings */

h1 {
    font-size: px-to-rem(48.38px);
    letter-spacing: -0.05rem;
}

h2 {
    font-size: px-to-rem(36px);
    letter-spacing: -0.05rem;
    font-weight: 800 !important;
}

h3 {
    font-size: px-to-rem(25.23px);
    letter-spacing: -0.01rem;
    font-weight: 600 !important;
}

h4 {
    font-size: px-to-rem(22.43px);
    letter-spacing: -0.01rem;
}

h5 {
    font-size: px-to-rem(19.93px);
}

h6 {
    font-size: px-to-rem(15.75px);
}

small {
    font-size: px-to-rem(12.44px);
}
