// COLOR PALETTE
$clr1: #ffffff;
$clr2: #000000;
$clr3: #0000ee;
$clr4: #0074ff;
$clr5: #003dff;
$clr6: #013965;
$clr7: #787c95;
$clr8: #0e131d;
$clr9: #979aaa;
$clr10: #116dff;
$clr11: #141414;
$clr12: #e8eaed;
$clr13: #e900ff;
$clr14: #eef0f4;
$clr15: #181818;
$clr16: #1c2c49;
$clr17: #384ad3;
$clr18: #6f6f6f;
$clr19: #5f4172;
$clr20: #181818;
$clr21: #07168d;
$editor-lightgray: #e2e3eaea;
$editor-dashboard-bg: #eceff3;
$editor-bg: #f9f9f9;
$editor-active-bg: #dce9ff;
$editor-active-clr: #116dff;
$editor-hover-bg: #f4f5f8;
$editor-outline: #07396e;

// font
$font-family-display: 'Montserrat', Arial, Helvetica, sans-serif;
$font-family: 'Lato', Arial, Helvetica, sans-serif;
$base-font-size: 14px;
$base-font-ratio: 1.5;

// Define spacing variables
$spacing-unit: 1rem;
$spacing-xxs: 0.296 * $spacing-unit;
$spacing-xs: 0.444 * $spacing-unit;
$spacing-s: 0.667 * $spacing-unit;
$spacing-m: 1.5 * $spacing-unit;
$spacing-l: 2.25 * $spacing-unit;
$spacing-l: 3.375 * $spacing-unit;
$spacing-xl: 5.063 * $spacing-unit;
$spacing-xxl: 7.594 * $spacing-unit;
$spacing-xxxl: 11.391 * $spacing-unit;

// Define breakpoints
$break-narrow: 640px;
$break-wide: 1024px;
$break-xwide: 1920px;

// fixed sizes
$home-header-height: 72px;
$app-header-height: 52px + 1px; // 1px for border-bottom addition
$toolbar-height: 44px + 1px; // 1px for border-bottom addition
$scroll-bar-width: $spacing-m;
$right-sidebar-width: 260px;
$modules-menu-width: 180px;
$modules-content-width: 300px;
$logo-container-width: 117px;

// LAYOUT
$layoutPadding: $base-font-size * 5.063;

$padded-break-narrow: $break-narrow + $layoutPadding * 0.667;
$padded-break-normal: $break-wide + $layoutPadding * 1;
$padded-break-wide: $break-xwide + $layoutPadding * 1.5;

// @media (min-width: $break-narrow) {
//     $layoutPadding: $base-font-size * 3.375;
// }

// @media (min-width: $break-wide) {
//     $layoutPadding: $base-font-size * 5.063;
// }

#root.wap1-primary {
    --clr1: #ffbf23;
    --clr2: #ffd7ef;
    --clr3: #eef;
    --clr4: #101010;
}

#root.wap2-primary {
    --clr1: #a3eee9;
    --clr2: #0b1321;
    --clr3: #8b95a6;
    --clr4: #eef;
}

#root.wap3-primary {
    --clr1: #dcdcdc;
    --clr2: #303030;
    --clr3: #5783de;
}

#root.wap4-primary {
    --clr1: #eb0000;
    --clr2: #000000;
    --clr3: #ffffff;
    --clr4: #161515;
}

#root.theme-1 {
    --clr1: #263140;
    --clr2: #4c80fb;
    --clr3: #101010;
    --clr4: #f4f4f6;
}
#root.theme-2 {
    --clr1: #0d425e;
    // --clr3: #fdd123;
    // --clr2: #101010;
    --clr2: #fdd123;
    --clr3: #101010;
    --clr4: #eef3f5;
}
#root.theme-3 {
    --clr1: #055345;
    --clr2: #f3ceac;
    --clr3: #f9efe6;
    --clr4: #101010;
}

#root.theme-4 {
    --clr1: #222628;
    --clr2: #8aebf0;
    --clr3: #f6f8f9;
    --clr4: #101010;
}
